body {
    background-color: black;
    font-family: Shadows Into Light, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
}

/* heading*/
.heading {
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

/* quiz area layout */

#question {
    background-color: black;
    padding-bottom:  1rem;
    font-size: 100%;
}

.alternative {
    border-radius: 25px;
    border: 1px solid black;
    padding: 1% 1%;
    font-family: Shadows Into Light, sans-serif;
    font-size: x-large;
}

.alternative:active,
.alternative:hover {
    background-color: lightskyblue;
}

#btn {
    border-radius: 80%;
    border: 1px solid black;
    font-size: 100%;
    font-family: Shadows Into Light, sans-serif;
    background-color: #E29CD2;
    color: black;
    font-weight: bolder;
}