body {
    background-color: black;
    font-family: Shadows Into Light, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
}

/* heading*/
.heading {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* question/lyrics */
#question {
    background-color: black;
    padding-bottom:  1rem;
    font-size: 100%;
}

/*missing lyrics answers*/
.alternative {
    border-radius: 25px;
    border: 1px solid black;
    padding: 1% 1%;
    font-family: Shadows Into Light, sans-serif;
    font-size: x-large;
}

/*activated when user hovers over answers*/
.alternative:active,
.alternative:hover {
    background-color: lightskyblue;
}

/*next button*/
#btn {
    border-radius: 80%;
    border: 1px solid black;
    font-size: 90%;
    font-family: Shadows Into Light, sans-serif;
    background-color: #E29CD2;
    color: black;
    font-weight: bolder;
}

.score-area {
    width: 100%;
}

.scores {
    margin: 10rem auto;
    display: inline-block;
    padding: 5px;
    font-size: 50%;
    font-family: sans-serif;
}

#score {
    color: #E29CD2;
    font-size: 250%;
    font-family: Shadows Into Light, sans-serif;
}

#incorrect {
    color: #E29CD2;
    font-size: 250%;
    font-family: Shadows Into Light, sans-serif;
}
